.createTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: -25px;
}

.createTask input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-100);
  flex: 1;
}

.createTask input::placeholder {
  color: var(-gray-300);
  font-size: 1rem;
}

.createTask button {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--blue-dark);
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
  color: var(--gray-100);
  transition: all 300ms;
  border: 0;
  cursor: pointer;
}

.createTask button:hover {
  background-color: var(--blue);

}

.createTask button svg {
  color: var(--gray-100);
}

.tasks header {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 24px;
}

.createdTasks {
  color: var(--blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.completedTasks {
  color: var(--purple);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.counter {
  background-color: var(--gray-400);
  color: var(--gray-100);
  border-radius: 999px;
  padding: 2px 8px;
  margin-left: 8px;
  font-size: 12px;
}